./next
node_modules
package-lock.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.next/*
/.next/cache/*
/.next/cache/webpack
/.next/cache/webpack/client-*.json
/.next/cache/webpack/server-*.json
/.next/cache/webpack/webpack.config.js
/.next/cache/webpack/webpack.config.json
/.next/cache/webpack/webpack.config.js.map
/.next/cache/webpack/webpack.config.json.map
/.next/cache/webpack/webpack.config.ts
/.next/cache/webpack/webpack.config.ts.map

.env